{% extends 'base.html.twig' %}

{% block title %}Site{% endblock %}

{% block body %}
<div class="mt-auto">
    <fieldset class="mt-3">
        <legend class="text-center  text-white mx-4" style="background-color: #459DEC;">Detail du site</legend>
    </fieldset>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ site.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ site.nom }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ site.lieu }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('site_index') }}">
        <span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
        </span>
        <spaan class="text mr-3">Retour</spaan>
    </a>
    <a href="{{ path('site_edit', {'id': site.id}) }}">
        <span class="icon"><i class="fas fa-edit"></i></span>
        <spaan class="text mr-3">Modifier</spaan>
    </a>

    {{ include('site/_delete_form.html.twig') }}
</div>


{% endblock %}