{% extends 'base.html.twig' %}

{% block title %}Liste local{% endblock %}

{% block body %}
<h1>Liste des locaux de {{ app.user.prenom }}</h1>
<div class="class container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{ app.user.nom}}</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des locaux</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Adresse</th>
                            <th>IsEtat</th>
                            <th>Longitude</th>
                            <th>Latitude</th>
                            <th>TypeLocal</th>
                            <th>Description</th>
                            <th>nom site</th>
                            <th>Lieu</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>IsEtat</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                        <th>TypeLocal</th>
                        <th>Description</th>
                        <th>nom site</th>
                        <th>Lieu</th>
                        <th>actions</th>
                    </tfoot>
                    <tbody>
                        {% for local in locals %}
                        <tr>
                            <td>{{ local.id }}</td>
                            <td>{{ local.nom }}</td>
                            <td>{{ local.adresse }}</td>
                            <td>{{ local.isEtat ? 'disponible' : 'occupe' }}</td>
                            <td>{{ local.longitude }}</td>
                            <td>{{ local.latitude }}</td>
                            <td>{{ local.typeLocal.type }}</td>
                            <td>{{ local.typeLocal.description }}</td>
                            <td>{{ local.site.nom}}</td>
                            <td>{{ local.site.lieu}}</td>
                            <td>
                                <a href="{{ path('local_show', {'id': local.id}) }}">show</a>
                                <a href="{{ path('local_edit', {'id': local.id}) }}">edit</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7">pas d'enregistrement</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<a href="{{ path('local_new') }}">Ajouter</a>
{% endblock %}