{% extends 'base.html.twig' %}

{% block title %}Local{% endblock %}

{% block body %}
<div class="mt-auto">
    <fieldset class="mt-3">
        <legend class="text-center  text-white mx-4" style="background-color: #459DEC;">Detail du local</legend>
    </fieldset>


    <table class="table text-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ local.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ local.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ local.adresse }}</td>
            </tr>
            <tr>
                <th>IsEtat</th>
                <td>{{ local.isEtat ? 'occupe' : 'disponible' }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ local.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ local.latitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('local_index') }}">
        <span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
        </span>
    </a>

    <a href="{{ path('local_edit', {'id': local.id}) }}">
        <span class="icon"><i class="fas fa-edit"></i></span>
        <spaan class="text mr-3">Modifier</spaan>
    </a>

    {{ include('local/_delete_form.html.twig') }}
</div>
{% endblock %}