{% extends 'base.html.twig' %}

{% block title %}Loi index{% endblock %}

{% block body %}
    <h1>Liste des lois </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Date</th>
                <th>Description</th>
                <th>Contrat</th>
                <!-- <th>actions</th> -->
            </tr>
        </thead>
        <tbody>
        {% for loi in lois %}
            <tr>
                <td>{{ loi.id }}</td>
                <td>{{ loi.libelle }}</td>
                <td>{{ loi.date ? loi.date|date('Y-m-d') : '' }}</td>
                <td>{{ loi.description }}</td>
                {% for contrat in loi.contrats %}
                <td>{{ contrat.nom }}</td> 
                {% endfor %}
                
                {#<td>
                    <a href="{{ path('loi_show', {'id': loi.id}) }}">show</a>
                    <a href="{{ path('loi_edit', {'id': loi.id}) }}">edit</a>
                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('loi_new') }}">Create new</a>#}
{% endblock %}
