{% extends 'base.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
<div class="mt-auto">
    <Fieldset class="mt-3">
        <legend class="h1 text-center  text-success">Detail du contrat</legend>
    </Fieldset>

    <table class="table text-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contrat.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contrat.nom }}</td>
            </tr>
            <tr>
                <th>TypeContrat</th>
                <td>{{ contrat.typeContrat }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ contrat.dateContrat ? contrat.dateContrat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duree_de_bail</th>
                <td>{{ contrat.dureeDeBail }}</td>
            </tr>
            <tr>
                <th>Montant_de_cotion</th>
                <td>{{ contrat.montantDeCotion }}</td>
            </tr>
            <tr>
                <th>Montant_du_mensualite</th>
                <td>{{ contrat.montantDuMensualite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contrat_index') }}">
        <span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
        </span>
        <spaan class="text mr-3">Retour</spaan>
    </a>

    <a href="{{ path('contrat_edit', {'id': contrat.id}) }}">
        <span class="icon"><i class="fas fa-edit"></i></span>
        <spaan class="text mr-3">Modifier</spaan>
    </a>

    {{ include('contrat/_delete_form.html.twig') }}

</div>
{% endblock %}
