{% extends 'base.html.twig' %}

{% block title %}TypeLocal{% endblock %}

{% block body %}

<div class="mt-auto">

    <Fieldset class="mt-3">
        <legend class="h1 text-center  text-success">Detail du type local</legend>
    </Fieldset>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_local.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ type_local.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ type_local.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_local_index') }}">
        <span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
        </span>
        <spaan class="text mr-3">Retour</spaan>
    </a>

    <a href="{{ path('type_local_edit', {'id': type_local.id}) }}">
        <span class="icon"><i class="fas fa-edit"></i></span>
        <spaan class="text mr-3">Modifier</spaan>
    </a>

    {{ include('type_local/_delete_form.html.twig') }}

</div>
{% endblock %}
