{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
<div class="mt-auto">
    <fieldset class="mt-3">
        <legend class="h1 text-center  text-success">Detail de la facture</legend>
    </fieldset>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ facture.montant }} FCFA</td>
            </tr>
            <tr>
                <th>Date de creation</th>
                <td>{{ facture.createAt ? facture.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('facture_index') }}">
        <span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
        </span>
        <spaan class="text mr-3">Retour</spaan>
    </a>

    <a href="{{ path('facture_edit', {'id': facture.id}) }}">
        <span class="icon"><i class="fas fa-edit"></i></span>
        <spaan class="text mr-3">Modifier</spaan>
    </a>

    {{ include('facture/_delete_form.html.twig') }}
</div>
{% endblock %}